/client/tests
/client-browser-http/node_modules
/client-browser-ws/.eslintrc.js

/client-browser-http/tests
/client-browser-http/node_modules
/client-browser-http/.eslintrc.js

/client-browser-ws/tests
/client-browser-ws/node_modules
/client-browser-ws/.eslintrc.js

/core/tests
/core/node_modules
/core/.eslintrc.js

/parser/tests
/parser/node_modules
/parser/.eslintrc.js

/redis-signaling/tests
/redis-signaling/node_modules
/redis-signaling/.eslintrc.js

/server/tests
/server/node_modules
/server/.eslintrc.js

/server-ws/tests
/server-ws/node_modules
/server-ws/.eslintrc.js
